<div class="row">
    <div class="column col-md-6 text-left">
        <img style="margin-left:2px;" src="../assets/imglocal/guitarbackground.png" class="img-responsive img35percent"><span style="font-size: 2em;">HEAVYTECA</span>
    </div>
    <div class="column col-md-6">
        <div><span class="pull-right pulldown sectiontitle">Login</span></div>
    </div>
</div>

<button type="button" class="btn btn-primary" id="login" ng-click="login()">
        <i class="fa fa-facebook-official"></i> Login with Facebook
</button>
<button type="button" class="btn btn-primary" id="api" ng-click="api()">
    <i class="fa fa-user"></i> Get Username from Api
</button>
<button type="button" class="btn btn-primary" id="remove_auth" ng-click="removeAuth()">
    <i class="fa fa-sign-out"></i> Log Out
</button>

<p>&nbsp;</p>

<pre>isReady: <span id="is_ready" ng-bind="facebookIsReady"></span></pre>
<pre>status: <span id="login_status" ng-bind="loginStatus"></span></pre>
<pre>
    <span>Username:</span>
    <span id="api_first_name" ng-bind="user.first_name"></span>
    <span id="api_first_name" ng-bind="user.email"></span>
</pre>


<p>&nbsp;</p>
<button class="btn btn-warning" ng-click="" ui-sref="root.home">go Home</button>

<p>&nbsp;</p>