<div class="row">
    <div class="column col-md-6 text-left">
        <img style="margin-left:2px;" src="../assets/imglocal/guitarbackground.png" class="img-responsive img35percent"><span style="font-size: 2em;">HEAVYTECA</span>
    </div>
    <div class="column col-md-6">
        <p>&nbsp;</p>
        <p><span class="pull-right pulldown sectiontitle">Géneros</span></p>
    </div>
</div>

<div class="row">
    <div class="column col-md-12 cellAlbum" style="border: 1px dotted darkslategrey;" ng-repeat="item in model.data">
        <div class="column col-md-4 col10xmargin">
            <h4>{{item.name}}</h4>
        </div>
        <div class="column col-md-8 col10xmargin">
            <ul class="ultoleft">
                <li ng-repeat="album in item.albums">
                    <button class="btn-info btn-xs" ng-click="gotoAlbum(album.id)"><i class="fa fa-eye"></i></button>
                    {{album.title}} ({{album.year}})
                </li>
            </ul>
        </div>
    </div>
</div>
