<div class="row">
    <div class="column col-md-12">
        <img src="../assets/imglocal/guitarbackground.png" class="img-responsive img75percent">
        <span class="gridtitle">HEAVY TECA - {{model.pageTitle}}</span>
    </div>
</div>

<p>&nbsp;</p>

<div class="row">
    <div class="column col-md-12 topborder backgroundgrid" ng-repeat="item in model.data">
        <div class="column col-md-4 col10xmargin">
            <h4>{{item.name}}</h4>
        </div>
        <div class="column col-md-8 col10xmargin">
            <ul class="ultoleft">
                <li ng-repeat="album in item.albums">
                    {{album.title}} ({{album.year}})
                    <button ui-sref="root.bandas({ id: album.$$hashKey })" class="btn btn-info btn-xs"><i class="fa fa-eye"></i></button>
                </li>
            </ul>
        </div>
    </div>
</div>
