/* Less file for albums - remember to import in main.less */

.gridimage{
  width:50%;
  height:50%;
}

.topborder{
  border-top: 1px dotted blue;
  margin-top: 10px;
}

.col10xmargin{
  margin-top: 10px;
}

.backgroundgrid{
  background-image: -webkit-gradient(radial, left center, 0, left center, 963, color-stop(0, #FFFFFF), color-stop(1, #EFD5D7));
}

.img75percent{
  height:50%;
  width:50%;
  text-align: center;
  margin: 0 auto;
}

.gridtitle{
  font-size:3em;
}

.ultoleft{
  text-align:left;
}